workflows/7-day cleanup.json
{
  "name": "7-day cleanup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7a25cfbd-bb3f-4ec1-82a8-a5b2a0fceb3f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://api:8000/jobs?limit=200",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "0aeb8372-ad08-4126-97ef-4c974d546b9f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "70d2510e-0f6f-4221-a602-f4b399f618c0",
              "leftValue": "clips_deleted",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "254304c8-46de-4ad0-bca3-926ea90d84bd",
              "leftValue": "={{ $json.updated_at }}",
              "rightValue": "={{ $now.minus({days: 7}).toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "54acf0b9-6735-49a6-a501-db5e63cb6565",
              "leftValue": "status",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "062a0ca2-737b-45ba-8f60-a00b7319e03c",
      "name": "Filter"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://api:8000/jobs/{{ $json.job_id }}/clips",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "a1db770c-9ae4-4932-880a-e44d2aebcca9",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c88cbb68-b950-4165-a6df-e910a2d672d1",
  "meta": {
    "instanceId": "bd715c2da0026a011e1650f699c126bf81d21d8b01682de868991a1c640fa335"
  },
  "id": "HowEpk2YXdfjkRrf",
  "tags": []
}